*.log
*.png
*.npy
*.csv
*.dat
*.zip
*.out
*.ipynb
.vscode
.ipynb_checkpoints
.DS_Store
__pycache__
build
bin
bin*
docs/source/_autosummary
verticalresolution_experiment/plots
prescribed2dflow/ssvar/ss*
prescribed2dflow/ssvar/temp
prescribed2dflow/conv1/n*
prescribed2dflow/conv1/temp
prescribed2dflow/conv1/runexp_backup.sh
