breathe
furo
pre-commit
pytest
sphinx
sphinx_copybutton
sphinxcontrib-bibtex
sphinxcontrib-applehelp
sphinxcontrib-htmlhelp

dask
numba
numdifftools
numpy
matplotlib
metpy
mpi4py
PyMPDATA
PyMPDATA-examples
openmpi
scipy
ruamel.yaml
xarray
zarr
git+https://github.com/emmacware/PySDM.git@alpha_sampling
