pre-commit
pytest
sphinx
furo
sphinx_copybutton
sphinxcontrib-bibtex
sphinxcontrib-applehelp
sphinxcontrib-htmlhelp
breathe

numba
numdifftools
numpy
scipy
matplotlib
xarray
PyMPDATA
PyMPDATA-examples
metpy
mpi4py
openmpi
ruamel.yaml
