name: docs

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v4

      - name: Setup
        run: |
          sudo apt-get update
          sudo apt-get install -y \
          cmake libopenblas-dev
          apt list --installed

      - name: Initialise Conda/Mamba
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: superdrops-in-action
          auto-activate-base: false
          use-mamba: true
          miniforge-version: 'latest'
          conda-remove-defaults: true

      - name: Update Mamba Environment
        run: |
          mamba env update -n superdrops-in-action -f environment.yaml

      - name: Mamba and Doxygen Info
        run: |
          mamba info
          mamba list
          which doxygen
          doxygen --version

      - name: Generate Doxygen Documentation
        run: |
          cd docs &&
          mkdir build &&
          mkdir build/doxygen &&
          doxygen doxygen/doxygen.dox

      - name: Build docs
        run: |
          cd docs && make html
      - name: Archive build artifacts (i.e. documentation)
        uses: actions/upload-artifact@v4
        with:
          name: html-docs
          path: docs/build/html/

  publish:
    needs: build
    # Only publish documentation when merging into `origin/main`.`
    if: "github.event_name == 'push' && github.ref == 'refs/heads/main' && github.repository_owner == 'yoctoyotta1024'"
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Download build artifacts (i.e. documentation)
        uses: actions/download-artifact@v4
        with:
          name: html-docs
          path: docs/build/html/

      - name: Publish docs on github pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html
